body {
    font-family: Arial;
    padding: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

button {
    padding: 8px;
    cursor: pointer;
}

#productList {
    margin-top: 20px;
    width: 500px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}